@use "../variables" as *;

.single-de_progress {
  .progress-item {
    display: flex;
    flex-direction: column;
    gap: $space-md;

    .progress-header {
      text-align: left;

      .progress-title {
        font-size: $font-size-xl;
        font-family: $font-heading;
        color: $colour-text;
        margin-bottom: $space-xs;
      }

      .progress-date {
        font-size: $font-size-sm;
        color: $colour-text-light;
      }
    }

    .progress-photo {
      width: 100%;
      max-height: 600px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
      }
    }

    .progress-content {
      font-size: $font-size-base;
      color: $colour-text;
      line-height: 1.6;

      p {
        margin-bottom: $space-md;
      }
    }
  }
}
