@use "variables" as *;

.site-header {
  padding: $space-md $space-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background: $colour-background;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  .main-navigation {
    width: 100%;

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        flex: 1;
        text-align: center;

        a {
          color: $colour-text;
          text-decoration: none;

          &:hover {
            color: $colour-text-light;
          }
        }
      }
    }
  }
}

.nav-menu .current-menu-item a {
  border-bottom: 2px solid $colour-text;
}

@media (min-width: $breakpoint-sm) {
  .site-header {
    padding: $space-md;
  }
}
