@use "variables" as *;

.site-header {
  padding: $space-md 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-navigation {
    width: 100%;

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        flex: 1;
        text-align: center;

        a {
          color: $colour-text;
          text-decoration: none;

          &:hover {
            color: $colour-text-light;
          }
        }
      }
    }
  }
}

.nav-menu .current-menu-item a {
  border-bottom: 2px solid $colour-text;
}
