@use "variables" as *;
@use "../blocks/people-grid/style.scss" as people;
@use "../blocks/platform-grid/style.scss" as platform;
@use "../blocks/progress-grid/style.scss" as progress;
@use "./pages/single-progress.scss" as singleProgress;
@use "./pages/single-platform.scss" as singlePlatform;
@use "../scss/footer";
@use "../scss/header";

// TOZO - consolidate grid scss into shared functionality (maybe leave current class names on, but add generic classes for shared styling from single source of truth)

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-body;
  font-weight: $font-weight-body;
  color: $colour-text;
  background-color: $colour-background;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  flex: 1;

  section {
    padding-top: $section-padding-md;
  }

  article {
    padding-top: $section-padding-md;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 24px;
}

.content-narrow {
  max-width: 720px;
  margin-inline: auto;
}
