@use "variables" as *;
@use "../blocks/people-grid/style.scss" as people;
@use "../blocks/platform-grid/style.scss" as platform;
@use "../blocks/progress-grid/style.scss" as progress;
@use "../scss/footer";
@use "../scss/header";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-body;
  font-weight: $font-weight-body;
  color: $colour-text;
  background-color: $colour-background;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
